<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
    <header class="landing-page-header">
        <nav>
            <ul class="external-links">
                <li><a href="#">JSS website</a></li>
                <li><a href="#">JSS library</a></li>
                <li><a href="#">Nibble Website</a></li>
                <li><a href="#">E-Resources</a></li>
                <li><a href="#">JSS library</a></li>
                <li><a href="#">Nibble Website</a></li>
                <li><a href="#">E-Resources</a></li>
            </ul>
        </nav>
        <div class="clearfix"></div>
        <div>
            <span class="logo-block">
                <a href="#">
                    <img src="img/logo.png">
                </a>
            </span>
            <div class="clearfix"></div>
            <h1>Welcome to Connect</h1>
            <span class="input-bar" id="login-form">
                <form>
                    <input type="text" placeholder="username" name="username" autofocus>
                    <input type="password" placeholder="password" name ="password">
                    <input type="submit" value="Login" class="js-submit input-button" name="submit">
                <p class="js-error"></p>
                </form>
            </span>
        </div>
    </header>
      <section class="container">
            <div class="main-body" id="landing-page">
                <div class="trending-now-block">
                    <h1>Trending Now</h1>
                        <span>
                            JSS Communique Newsletter
                    </span>
                        <span>
                               JSS Communique Newsletter
                    </span>
                        <span>
                             JSS Communique Newsletter
                    </span>
                        <span>
                           JSS Communique Newsletter
                    </span>
                        <span>
                            JSS Communique Newsletter
                    </span>
                        <span>
                             JSS Communique Newsletter
                    </span>
                </div>

                <div class="new-notices-block">
                    <h1>New Notices</h1>
                         <ul class="notice-all">

                <li class="notice-list">
                    <a class="notice-description" href="#">
                        <span class="notice-uploader">Mr.R.S.Jagdish</span>
                        <span class="notice-short-description">Hostel Policy</span>
                        <span class="notice-date">22/06/2015</span>
                    </a>
                </li>
                <li class="notice-list">
                    <a class="notice-description" href="#">
                        <span class="notice-uploader">Mr.R.S.Jagdish</span>
                        <span class="notice-short-description">Hostel Policy</span>
                        <span class="notice-date">22/06/2015</span>
                    </a>
                </li>
                <li class="notice-list">
                    <a class="notice-description" href="#">
                        <span class="notice-uploader">Mr.R.S.Jagdish</span>
                        <span class="notice-short-description">Hostel Policy</span>
                        <span class="notice-date">22/06/2015</span>
                    </a>
                </li>
                <li class="notice-list">
                    <a class="notice-description" href="#">
                        <span class="notice-uploader">Mr.R.S.Jagdish</span>
                        <span class="notice-short-description">Hostel Policy</span>
                        <span class="notice-date">22/06/2015</span>
                    </a>
                </li>
                <li class="notice-list">
                    <a class="notice-description" href="#">
                        <span class="notice-uploader">Mr.R.S.Jagdish</span>
                        <span class="notice-short-description">Hostel Policy</span>
                        <span class="notice-date">22/06/2015</span>
                    </a>
                </li>


             </ul>
                </div>
            </div>
        </section>









        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="js/vendor/jquery.storageapi.min.js"></script>
        <script src="js/main.js"></script>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
